@model IEnumerable<RedRobin.WebApp.Models.Ingredient>

@{
    ViewData["Title"] = "IngredientsList";
}

<style>
    body {
        background-color: #fbefcc;
    }
</style>

<h1>List of Ingredients</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QtyToStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Restaurant)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtyToStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Restaurant)
                    </td>
                    @*<th>

                        @Html.CheckBoxFor(modelItem => item.hasIngredient, false)
                    </th>*@
                    <td>
                        @Html.ActionLink("Add", "AddIngredient", new {  id=item.Id })
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <p>
        @Html.ActionLink("DONE!", "EditTotalCost")
    </p>

