@model IEnumerable<RedRobin.WebApp.Models.Product>

@{
    ViewData["Title"] = "ProductsList";
}

<style>
    body {
        background-color: #fbefcc;
    }
</style>

<h1>List of Products to Add:</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @Html.ActionLink("Add", "AddProduct", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("DONE!", "EditTotalCost")
</p>